spring:
  application:
    name: restaurant-mini-project

  datasource:
    url: jdbc:mysql://localhost:3306/restaurant
    username: root
    password: root1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  server:
    error:
      include-message: always
      include-stacktrace: always